html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
	transform: 0.2s;
 }
body{
	width: 100%;
	height: 100%;
}
.wrap{
	display: block;
	background: #353535;
	width: 100%;
}
header{
	background:#f8f6f6;
	width: 100%;
	font-weight: bold;
}
.headerFlex{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.logoHeaderWrap{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}
.logo {
	width: 50px;
}
.brandName{
	font-size: 30px;
	font-family:  BigNoodleTitling Regular;
	color: #696969;
	margin-left: 20px;
}
.MenuActive{
	display: none;
}
    /************* more than 768px ****************  */
    @media(min-width:768px){
	.seccond{
		width:40px;
		height:40px;
		border:3px solid #696969;
		border-radius: 50%;
		overflow: hidden;
	    padding: 5px;
	    box-sizing: border-box;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.seccond img{
	}
	.inner{
		background-origin: 
	}
	.burger{
		display:flex;
		justify-content: space-between;
		align-items: center;
	}
	.first{
		margin-right: 20px;
		display:contents;
	}
	.first span {
		font-family: Roboto Thin;
		font-size: 18px;
		margin-right: 20px;
		cursor: pointer;
	}

	.first span:hover {
		color: #999;
	}
	.footerWrap{
		width:200px;
		margin-left: 25px;
	}	
	.footerWrap{
		width:200px;
		margin-left: 25px;
	}
	.logoFooterWrap{
		padding-top: 10px;
		display:flex;
		justify-content:space-between; 
		align-items: center;
	}
	
}	
/************************  for meddia         ***********************/
@media(max-width:767px){
	.brandName{ 
		margin-left: 180px;
	}
	.logo{
    	margin-left: 35px;
	}
	.first p{
		display: none;
	}
	.seccond img{
		display: none;
	}
	.burger{
		width: 38px;
		height: 25px;
		margin-right: 13px;
		margin-top: 5px;
		position: relative;
	}
	.burger div{
		width:38px;
		height:3px;
		background:#554948;
		position: absolute;
	}
	.burger .first{
	}
	.burger .seccond{
		top:12px;
	}
	.burger .third{
		top:24px;
	}
	.logoFooterWrap{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items:  center;
		margin:0 auto;
	}
	
}
main{
	position: relative;
	background: #353535;
	min-height: 480px;
	width: 700px;
	margin:0 auto;
	padding-top:20px; 
}
.buttonWrap{
	display: flex;
	justify-content: center;
}

.buttonWrap .btn {
	padding: 15px;
	min-width: 150px;
	text-align: center;
	margin: 0 10px;
	background: #f8f6f6;
	cursor: pointer;
	transition: all 0.2s linear;
	font-family: Roboto Thin;
	font-weight: 700;
}

.buttonWrap .btn:hover {
	background: #e4e4e4;
}

.buttonWrap div{
	min-width:100px;
	background:whitesmoke;
}
footer{ 
	background:#171f23;
	height: 60px;
	width: 100%;
}
.logFooter{
		width:30px;
		margin-top: 5px;	
	}
.slognFooter{
	font-family: BigNoodleTitling Regular
	font-size:24px;
	color:#fbefee;
}
.layout{
	position: relative;
	width: 700px;
	height: 100%;
	margin:0 auto;
}