*{
	box-sizing: border-box
} 
.componentWrap{
	width:700px;
	display:block;
	position: absolute;
	color:#353535;
}
header{
	width:100%;
	height:77px;
	background: #4cb1ca;
	padding: 13px;
	display: flex;
	justify-content: space-between;
}
header > h1{
	color: whitesmoke;
	margin:5px 0 5px 10px;
	font-weight: 700;
	font-family: open sans;
	font-size: 32px;
}

.pocketsSelection{
	width:100%;
	display:flex;
	justify-content:space-around;
	flex-direction: column;
}
.selection-area{
	position: absolute;
	width:100px;
	display:block;
	left:203px;
	top:45px;
	
}
.new-entry-form{
	width: 100%;
	padding:20px;
	position: relative;
	flex-direction: column;
	justify-content:space-around;
}
.pocket{
	display:flex;
	justify-content:flex-start;
}
input{
    height: 25px;
    margin: 5px 0 10px;
    border: 1px solid #4cb1ca;
    border-radius: 7px;
    outline: none;
    padding: 5px 10px;
    color: black;
}
#total-area input:nth-child(1){
	width: 100%;
}
#total-area input:nth-child(3){
	margin-left: 275px;
}
#total-area{
	display: flex;
	flex-wrap: wrap;
}
.pocket{
	height: 25px;
    margin: 5px 0 10px;
    border: 1px solid #4cb1ca;
    border-radius: 7px;
    outline: none;
    padding-left:  10px;
    color: black;
}
.wrapForm{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
button{

    border-radius: 5px;
    background: #03738f;
    border: 0;
    color: whitesmoke;
    padding: 5px 15px;
    outline: none;
    transition: all 0.8s ease
}
img{
	width:30px;
}
