.regpage{
   width: 700px;
   height: 400px;
   margin: 0 auto;
   position: absolute;
   top:0px;
   left:0px;
   background: #353535;

}
.regpage .reghead{
    background:  #4cb1ca;
    padding: 20px;
    color: whitesmoke;
    font-weight: 0;
    display: flex;
    justify-content: space-between;
}
.reghead h1{
    margin: 0 auto;
    padding-left: 45px;
    color: whitesmoke;
}
.login {
    width: 350px;
    padding: 15px;
}
.form-control{
    width: 100%;
    margin: 5px 0 10px;
    border: 1px solid #4cb1ca;
    border-radius: 7px;
    outline:none;
    padding: 5px 10px;
    color:black;
}
.leftside{
    width: 50%;
    display: flex;
    justify-content: center;
}
#avatarka{
    color:white;
}
.leftside .form-group{
    display: block;
    position: relative;
    width:250px;
    height: 250px;
}
.rightside{
    width:50%;
    display: flex;
    justify-content: center;
}

.regbody{
    display: flex;
    justify-content: space-between;
}
.form{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.registration{
    width: 330px;
    margin-right: 25px;

}
h2 , label {
    color: whitesmoke ;
}
.control-label::before{
    content: "*";
    color: red;
}

button ,#register-button{
    border-radius: 5px;
    background: #03738f;
    border: 0;
    color: whitesmoke;
    padding: 5px 15px;
    margin-left: 35%;
    outline:none;
    transition: all 0.8s ease
}
button:hover{
    cursor: pointer;
    background: red;
    transform: scale(1.2)
}
img{
    width:30px;
}